.addbtn{
    padding: 18px 23px;
    border-radius: 11px;
    background: #fff;
    font-weight: bold;
    outline: 0;
    border:0;
    box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset;
}
.addsegmentHeader{
    padding: 0px 19px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    text-transform: uppercase;
}
h4 span{
    margin: 0 20px;
}
.addList{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.addList li{
    margin: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainContainer{
    display: flex;
}

.rightBarSection{
    width: 81vw;
} 
.addList li p{
    background: #fff;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 60px;
    text-align: center;
    font-size: 22px; 
    display: grid;
    place-items: center;
    border-radius: 9px;
    /* box-shadow: rgb(6 24 44 / 40%) 0px 0px 0px 2px, rgb(6 24 44 / 65%) 0px 4px 6px -1px, rgb(255 255 255 / 8%) 0px 1px 0px inset; */
    border: 2px solid;
}